@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  height: 100%;
}

/* toaster custom color */
.go2534082608 {
  background: #ffff !important;
}
.go2534082608:after,
.go2534082608:before {
  background: #1e293b !important;
}

.go2072408551 {
  background: #1e293b !important;
  color: #ffff !important;
}
/* success toaster */
.go2344853693 {
  background: #ffff !important;
}
.go2344853693:after {
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #1e293b !important;
}
/* success toaster */

/* toaster custom color */
